<!-- views/funcionarios/add.handlebars -->
{{!-- {{> layouts/main}} --}}

<h1>Adicionar Funcionário</h1>

<form action="/funcionarios/add" method="post">
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome" required>

  <label for="cpf">CPF:</label>
  <input type="text" id="cpf" name="cpf" required>

  <button type="submit">Salvar</button>
</form>

<a href="/funcionarios">Voltar para a Lista</a>
